
<div class="news word">
    <div class="top back">
        <div class="left">
            <a href="javascript :history.back(-1)">
                <i class="back_icon"></i>
            </a>
        </div>
        <div class="right title">
            拿地
        </div>
    </div>
    <div class="new_message">
       30日内共有3900篇关于碧桂园拿地的新闻
    </div>

    <div class="emotion_type">
        <ul class="emotions">
            <li class="active">全部</li>
            <li>正面</li>
            <li>中性</li>
            <li>负面</li>
        </ul>
        <span>
             <i class="search"></i>
        </span>
    </div>
    <div class="lists">
        <ul class="list_ul">
            <li class="clearFix" ng-click="showDetail()">
                <div class="list_img">
                    <img src="/images/icon/icon_14.png" alt="">
                </div>
                <div class="list_content">
                    <div class="list_title">
                        <span class="title">碧桂园集团</span>
                        <span class="emotion">正面</span>
                    </div>
                    <p class="list_introduce">
                        <span class="name">东方财富网</span>
                        <span class="time">2017-09-01</span>
                    </p>
                    <div class="share">
                        <img src="/images/a.png" alt="">
                        <div class="share_title">
                            碧桂园集团携手广东省科技企业孵化器协会共推产城融合，共筑"双创"发展。
                        </div>
                    </div>
                    <div class="tag">
                        <div class="praise">
                            <i class="icon_15"></i>
                            <span>41</span>
                        </div>
                        <div class="collect">
                            <i class="icon_16"></i>
                            <span>41</span>
                        </div>
                        <div class="tag_name">
                            <span>科技</span>
                            <span>先进</span>
                        </div>

                    </div>
                </div>
            </li>
            <li class="clearFix" ng-click="showDetail()">
                <div class="list_img">
                    <img src="/images/icon/icon_14.png" alt="">
                </div>
                <div class="list_content">
                    <div class="list_title">
                        <span class="title">碧桂园集团</span>
                        <span class="emotion">正面</span>
                    </div>
                    <p class="list_introduce">
                        <span class="name">东方财富网</span>
                        <span class="time">2017-09-01</span>
                    </p>
                    <div class="share">
                        <img src="/images/b.png" alt="">
                        <div class="share_title">
                            碧桂园以总价7.5亿元竟得城东银杏路4号地铁，楼面价5286/㎡
                        </div>
                    </div>
                    <div class="tag">
                        <div class="praise">
                            <i class="icon_15"></i>
                            <span>41</span>
                        </div>
                        <div class="collect">
                            <i class="icon_16"></i>
                            <span>41</span>
                        </div>
                        <div class="tag_name">
                            <span>拿地</span>
                        </div>

                    </div>
                </div>
            </li>
            <li class="clearFix" ng-click="showDetail()">
                <div class="list_img">
                    <img src="/images/icon/icon_14.png" alt="">
                </div>
                <div class="list_content">
                    <div class="list_title">
                        <span class="title">碧桂园集团</span>
                        <span class="emotion">正面</span>
                    </div>
                    <p class="list_introduce">
                        <span class="name">东方财富网</span>
                        <span class="time">2017-09-01</span>
                    </p>
                    <div class="share">
                        <img src="/images/c.png" alt="">
                        <div class="share_title">
                            刚刚，碧桂园广州又一写字楼项目亮相。
                        </div>
                    </div>
                    <div class="tag">
                        <div class="praise">
                            <i class="icon_15"></i>
                            <span>41</span>
                        </div>
                        <div class="collect">
                            <i class="icon_16"></i>
                            <span>41</span>
                        </div>
                        <div class="tag_name">
                            <span>广州</span>
                            <span>项目</span>
                        </div>

                    </div>
                </div>
            </li>
            <li class="clearFix" ng-click="showDetail()">
                <div class="list_img">
                    <img src="/images/icon/icon_14.png" alt="">
                </div>
                <div class="list_content">
                    <div class="list_title">
                        <span class="title">碧桂园集团</span>
                        <span class="emotion">正面</span>
                    </div>
                    <p class="list_introduce">
                        <span class="name">东方财富网</span>
                        <span class="time">2017-09-01</span>
                    </p>
                    <div class="share">
                        <img src="/images/c.png" alt="">
                        <div class="share_title">
                            刚刚，碧桂园广州又一写字楼项目亮相。
                        </div>
                    </div>
                    <div class="tag">
                        <div class="praise">
                            <i class="icon_15"></i>
                            <span>41</span>
                        </div>
                        <div class="collect">
                            <i class="icon_16"></i>
                            <span>41</span>
                        </div>
                        <div class="tag_name">
                            <span>广州</span>
                            <span>项目</span>
                        </div>

                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>
